/* Mobile first queries */

/* Larger than mobile */
@media (max-width: 800px) {
    body {
        font-size: 12px;
    }
    div .sourceCode {
        font-size: 11px;
    }
    code {
        font-size: 12px;
    }
}

/* Larger than tablet */
@media (min-width: 800px) {
    body {
        font-size: 15px;
    }
    code {
        font-size: 15px;
    }
}

body {
    /*overflow-x: hidden;*/
}

table.checkered {
    border-spacing:1rem;
    border-collapse:collapse;
}

table.checkered tbody tr:nth-child(odd) {
  background: #eee;
}

table.full-width {
    width:100%;
}

thead.left tr th {
    text-align:left;
}

div.sourceCode {
    line-height: 1.5;
    overflow: auto;
}

body.p {
    color: #373D3F;
    font: 'Open Sans', sans-serif;
}

section {
    line-height: 2;
}

li>a:hover {
    text-decoration: underline;
    font-size:1em;
}

/*flexbox*/

section.flex {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.media {
 min-width: 0;
 margin: 5px;
}

img.flex {
   width: 600px;
   max-width: 100%;
}

.art-blurb {
  text-align: center;
}

.video {
  width: 1000px;
  height: 1000px;
}
#videosList {
 max-width: 600px;
  overflow: hidden;
}

.video {
  background-image: url('https://img.youtube.com/vi/nZcejtAwxz4/maxresdefault.jpg');
  height: 330px;
  width: 600px;
  margin-bottom: 50px;
}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}
