/* Mobile first queries */

/* Larger than mobile */
@media (max-width: 800px) {
    body {
        font-size: 12px;
    }
    div .sourceCode {
        font-size: 11px;
    }
    code {
        font-size: 12px;
    }
}

/* Larger than tablet */
@media (min-width: 800px) {
    body {
        font-size: 15px;
    }
    code {
        font-size: 15px;
    }
}

body {
    /*overflow-x: hidden;*/
}

table.checkered {
    border-spacing:1rem;
    border-collapse:collapse;
}

table.checkered tbody tr:nth-child(odd) {
  background: #eee;
}

table.full-width {
    width:100%;
}

thead.left tr th {
    text-align:left;
}

div .sourceCode {
    line-height: 1.5;
    overflow: scroll;
}

body.p {
    color: #373D3F;
    font: 'Open Sans', sans-serif;
}

section {
    line-height: 2;
}

li>a:hover {
    text-decoration: underline;
    font-size:1em;
}

